p {
  font-size: 17px;
  letter-spacing: 0.6px;
  line-height: 26px;
  margin-bottom: 11px;
}

h1 {
  font-size: 72px;
}

h2 {
  color: $red-2;
  font-size: 45px;
  margin-bottom: 30px;

  @media screen and (min-width: $screen-md-min) {
    font-size: 60px;
  }
}

h3 {
  font-size: 27px;
  letter-spacing: 1px;
  color: $red-2;
  margin-bottom: 28px;
}
