//------------------------------------//
    // COLORS
//------------------------------------//

// Reds
$red-1: #F24051;
$red-2: #EA2A34;
$red-3: #CD181F;
$red-4: #AF0404;

// Grays
$white: #FCFCFF;

$gray-1: #EDEDEF;
$gray-2: #C4C5C6;
$gray-3: #6D6E70;
$gray-4: #464948;
$gray-5: #262826;

$black: #101110;

// Tint
$tint: #425E5D;

//------------------------------------//
    // TYPOGRAPHY
//------------------------------------//

$hyphens:               false;

//------------------------------------//
    // MISC
//------------------------------------//

$debug:                 false;