#contact {
  padding-bottom: 0;

  .contact-intro {
    padding-bottom: 150px;
    text-align: center;
  }

  .map-container {
    position: relative;
  }

  .map-contact {


    @media screen and (min-width: $screen-md-min) {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 40px;
      width: 40%;
      transform: translateY(-50%);
    }
  }

  #map {
    height: 600px;
    margin: 160px -15px 0;
  }

  .table {

    tbody > tr > td {
      border: none;
    }
  }
}